<h1 class="h1">Liabilities</h1>

<% @liabilities.each do |liability| %>
  <article class="list-view">
    <div class="tag"><%= link_to liability.due_day %></div>
    <div class="h1">
      <%= link_to liability.nickname, liability %>
    </div>
    <div class="p">current_balance: <%= liability.current_balance %> </div>
  </article>
<% end %>
