<div class='h1'>Money is funny</div>

<p>
  But not in a haha sort of way. So many different things to keep track of. Lettuce books is for people who run their home like a business which means we aim to turn "bookkeeping... ugh." into "bookkeeping ahh". :-)
</p>
