$white: #fff;
$tan: #97875e;
$brown: darken($tan, 20);
$header-height: 2.5em;

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  // BG image source: http://picjumbo.com/cafe-workspace-with-diary/
  // Free to use for all personal & commercial works.
  background: $brown image_url('marketing/cover.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a,
a:visited {
  color: $white;
  &:hover { color: $white; }
}

.header {
  @include clearfix;
  height: $header-height;
  padding: 0 1em;
  margin: 1em auto 2em;
}

.logo {
  float: left;
  height: 100%;

  img {
    display: block;
    width: auto;
    height: 100%;
  }
} // .logo

.nav {
  height: 100%;
  font-family: $serif;
  font-style: italic;
  text-align: right;

  li {
    display: inline-block;
    height: 100%;
    margin-left: 1em;
  }

  li:first-child {
    margin-left: 0;
  }

  a {
    display: block;
    height: 100%;
    font-size: 1.75em;
    line-height: $header-height / 1.75;
    text-align: right;
  }

  .nav__text {
    display: none;
    a {
      font-size: 1.25em;
      line-height: $header-height / 1.25;
    }
  }
} // .nav

.wrap {
  width: 100%;
  padding: 1em;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 0 auto 0.25em;
  color:$white;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.13em;
}

h2 {
  margin-bottom: 0.5em;
  color:$white;
  font-family: $serif;
  font-size: 1.75em;
  font-weight: normal;
  font-style: italic;
}

h3 {
  color: $white;
  margin-bottom: 2.5em;
  font-size: 1.25em;
  font-weight: 500;
}

.cta {
  display: inline-block;
  padding: 0.8em 1.5em;
  border-radius: 500px;
  background: #fff;
  color: $brown;
  font-size: 1em;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;

  &:active,
  &:visited {
    color: $brown;
  }

  &:hover {
    color: $brown;
  }
} // .cta

.footer {
  width: 30em;
  max-width: 90%;
  padding: 1em;
  margin: 7em auto 0;
  border-top: 1px solid $white;
  border-color: rgba($white, 0.2);
  color: $white;
  text-align: center;

  li {
    display: inline-block;
    margin-left: 1em;
  }

  li:first-child {
    margin-left: 0;
  }

  a {
    font-size: 3em;
  }

  small {
    display: block;
    font-family: $serif;
    font-style: italic;
  }
} // .footer

@mixin larger-display {
  .header {
    margin-bottom: 7em;
  }

  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 2.5em;
  }

  hr {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  .cta {
    font-size: 1.25em;
  }
} // @mixin larger-display

@include media(768px) {
  .nav .nav__text {
    display: block;
  }

  .nav .nav__icon {
    display: none;
  }
} // 768px

@include media(min-height 600px) {
  .header {
    margin-bottom: 7em;
  }
} // min-height 600px

@include media(min-width 768px min-height 500px) {
  @include larger-display;
}

@include media(1000px) {
  h1 {
    font-size: 7em;
  }
} // 1000px

@include media-ie-only {
  @include larger-display;
}
