<h1 class="h1">Equities</h1>

<% @equities.each do |equity| %>
  <article class="list-view">
    <div class="h1">
      <%= link_to equity.nickname, equity %>
    </div>
    <div class="p">current balance: <%= equity.current_balance %> </div>
  </article>
<% end %>
