@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,100|Roboto+Condensed:400,300,700);


$slab: 'Roboto Slab';
$cond: 'Roboto Condensed';
$light-gray: #eee;
$gray: #aaa;
$pink: #e29de6;
$green: #7ee8b5;
$blue: #1789af;
$sunny: #fefc7a;

@mixin headline-font {
  font-family: $cond, serif;
  font-weight: 400;
  font-size: 1.5em;
}

@mixin body-font {
  font-family: $slab, helvetica, sans-serif;
  font-weight: 300;
}


body {
  margin: 0;
  padding: 1em;
  @include body-font;
  background-image: linear-gradient(90deg, #29A6C2, #7FD3E6);
}

.wrapper {
  background: white;
  overflow: auto;
  padding-bottom: 14em;
}

.content {
  padding: 3em;
}

header {
  float: right;
  width: 29%;
  border-left: 1px solid $gray;
  padding-left: 2em;
}

.main-content {
  width: 59%;
  float: left;
}

.list-view { margin-bottom: 2em; }
.tag { color: $gray; }

.h1 {
  @include headline-font;
}
.h2 {
  font-size: 1.5em;
}


.show {
  border-bottom: 1px solid $gray;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.edit-btn {
  float: right;
  a { color: $pink; }
}


// reset

h1,
p {
  margin: 0;
  padding: 0;
}

// P&L styling

.account-group {
  border-radius: 4px;
  border: 1px solid $light-gray;
  padding: 1.25em;
}

.top {
  background: $green;
  background-image: linear-gradient(-42deg, #8CFF8A, #6CD76A);
  overflow: auto;
  padding: 3em;
  border-bottom: 7px solid $sunny;
  .h1 {
    color: white;
    float: left;
  }
}
.user-actions {
  float: right;
  padding-right: 1em;
  a {
    color: $blue;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 0.25em;
  }
}
