@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,100|Roboto+Condensed:400,300,700);


$slab: 'Roboto Slab';
$cond: 'Roboto Condensed';
$light-gray: #eee;
$gray: #aaa;
$pink: #e29de6;

@mixin headline-font {
  font-family: $cond, serif;
  font-weight: 400;
  font-size: 1.5em;
}

@mixin body-font {
  font-family: $slab, helvetica, sans-serif;
  font-weight: 300;
}


body {
  width: 80%;
  margin: 0;
  padding: 0;
  @include body-font;
}

.content {
  width: 100%;
  padding: 3em;
}

header {
  float: right;
  width: 29%;
  border-left: 1px solid $gray;
  padding-left: 2em;
}

.main-content {
  width: 59%;
  float: left;
}

.list-view { margin-bottom: 2em; }
.tag { color: $gray; }

.h1 {
  @include headline-font;
}
.h2 {
  font-size: 1.5em;
}


.show {
  border-bottom: 1px solid $gray;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.edit-btn {
  float: right;
  a { color: $pink; }
}


// reset

h1,
p {
  margin: 0;
  padding: 0;
}

// P&L styling

.account-group {
  border-radius: 4px;
  border: 1px solid $light-gray;
  padding: 1.25em;
}
