$gray: #aaa;
$pink: #e29de6;

body {
  width: 80%;
  margin: 0;
  padding: 0;
  font-family: 'lucida grande';
}

.content {
  width: 100%;
  padding: 3em;
}

header {
  float: right;
  width: 29%;
  border-left: 1px solid $gray;
  padding-left: 2em;
}

.main-content {
  width: 59%;
  float: left;
}

.list-view { margin-bottom: 2em; }
.tag { color: $gray; }

.h1 {
  font-size: 2em;
}
.h2 { font-size: 1.5em; }


.show {
  border-bottom: 1px solid $gray;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.edit-btn {
  float: right;
  a { color: $pink; }
}


// reset

h1,
p {
  margin: 0;
  padding: 0;
}
